{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<h4>В чем смысл проекта?</h4><h5> <b>Инициатива</b> - (от лат. initium — начало) — принятие самостоятельного решения человеком, форма проявления его общественной активности. Синоним - почин.

Инициатива определяется как аксиоматическое обозначение признака несимметричности взаимодействия живого объекта с произвольными объектами.
    Указывает на наличие у объекта способности к самостоятельному действию, изменяющему собственное состояние, вопреки естественной инерции.
Понятие «инициатива» обусловлено тем, что оно не существует во взаимодействиях объектов неживой Природы, подчинённой естественному Закону
    сохранения величины и направления скорости своего относительного движения (импульса). Понятие инициатива возникает в связи с естественной
    способностью живых объектов самопроизвольно (самостоятельно) изменять величину и (или) направление скорости своего относительного движения.
В то время как неживой, естественный объект в реальной природе, в отсутствие воздействия со стороны, сохраняет своё прямолинейное и равномерное
    движение (Закон инерции), даже самый примитивный живой объект обладает способностью в той или иной мере менять как величину, так и направление
    своего движения, то есть совершать намеренные действия. В частности, живые объекты способны самостоятельно изменять направление своего движения,
    чтобы избирательно избегать или инициировать (намеренно произвести) конкретное столкновение, а также изменить свою скорость, чтобы догнать или отстать
    от другого объекта и т. д.
В связи с этим естественным свойством инициатива для человека, способного самовольно определять необходимость выполнения или невыполнения того или другого
    действия, становится первостепенной характеристикой любого его поступка, определяемого понятием «авторство».
Особую актуальность инициатива приобретает в совершении предосудительных поступков и определении меры адекватности их наказания в правонарушениях,
    и не менее важную роль играет при поощрении и награждении полезных действий.</h5>
{% endblock %}
